<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('header') %>
  
  <div class="message-details__container">
    <h1>Message Details</h1>
    <div class="message-details">
      <div class="message-details__user">
        <strong>User:</strong> <span><%= message.user %></span>
      </div>
      <div class="message-details__text">
        <strong>Message:</strong> <span><%= message.text %></span>
      </div>
      <div class="message-details__time">
        <strong>Added:</strong> <span><%= message.added.toLocaleString() %></span>
      </div>
      <button>
        <a href="/">Back</a>
      </button>
  </div>

</div>
</body>
</html>